<div class="pic-form">
  <div class="row pic-form__container">
    <div class="col-sm-8">
      <h1 class="text-center">Editing Pic</h1>
      <%= render 'form', pic: @pic %>
    </div>
  </div>
</div>
