<div class="pic-form">
  <div class="row pic-form__container">
    <div class="col-lg-6 col-sm-12">
      <h1 class="text-center">New Pic</h1>
      <%= render 'form', pic: @pic %>
    </div>
  </div>
</div>
