<div class="pic-form">
  <div class="row pic-form__container">
    <div class="col-sm-8">
      <h1 class="text-center"><%= @pic.description %></h1>
      <em>Author: <%= @pic.user.name %></em>
      <div class="img-show">
        <%= image_tag(@pic.image.url(:medium), class: 'inserted-img') %>
      </div>
    </div>
  </div>
</div>
